.btn {
  font-size: .8rem;
  padding: 5px 10px;
  border-radius: $b-rad;
  margin: 10px;
  color: white;

  border: 4px solid rgba(255,255,255,0);
  @include transit(border);
  box-shadow: 0;
  @include transit(box-shadow);

  &:hover {
    @include b-shad;
    @include transit(box-shadow);
  }

  @include darker-gradient-on-active($pm-color, 10%);

}


//Specials btn
.btn-add-recipe {
  margin-top: 20px;
}

.btn-delete {
  @extend .btn;
  @include darker-gradient-on-active($warn-color, 10%);
}


.btn-edit {
  @extend .btn;
  @include darker-gradient-on-active($sd-color, 10%);
}
