.recipe-card-title {
  text-align: center;
  margin: 0;
  padding: 10px;
  border-bottom: 1px solid $b-shad-color;

  &:hover {
  }
}

.recipe-card-title::first-letter {
  text-transform: capitalize;
}
