//Fluid-type variables for responsive fonts
$min_width: 320px;
$max_width: 1200px;
$min_font: 18px;
$max_font: 26px;


//Colors
$pm-color: #1DA6E3;
$sd-color: #14DC81;
$b-shad-color: rgba(0,0,0,0.15);


//Fonts
$pm-font: 'Poppins';
$sd-font: 'Pangolin';

//Header heaight
$header-height: 100px;

//Border-radius
$b-rad: 5px;
