//Fluid-type variables for responsive fonts
$min_width: 320px;
$max_width: 1200px;
$min_font: 18px;
$max_font: 26px;


//Colors
$pm-color: #B71C1C;


//fonts
$pm-font: 'Pangolin';

//Header heaight
$header-height: 100px;
