.recipe-card {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  background-color: white;
  margin: 10px;
  overflow: hidden;
  width: 400px;
  word-break: normal;

  border-radius: $b-rad;
  @include b-shad;
  @include transit(box-shadow);


  &:hover {
    box-shadow: 1px 1px 1px 0px $b-shad-color;
    @include transit(box-shadow);
  }
}
